<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/fragments/main_layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Container-fluid starts-->
<div class="container-fluid" layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header m-b-20">
                    <h5>Liste des Utilisateurs</h5>
                </div>

                <div class="col-sm-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>CIN</th>
                                    <th>Email</th>
                                    <th>Désactiver Le Compte</th>
                                    <th>L'historique du compte</th>
<!--                                    <th>Supprimer</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="appr:${listApprenant}">
                                    <td th:text="${appr.nom}"></td>
                                    <td th:text="${appr.prenom}"></td>
                                    <td th:text="${appr.cin}"></td>
                                    <td th:text="${appr.email}"></td>
                                    <td><a th:href="@{/edit-Apprenant/{id}(id=${appr.getIduser()})}" class="btn btn-primary" th:if="${appr.status} == true" th:text="Désactiver"></a></td>
                                    <td><a th:href="@{/historique-Apprenant/{id}(id=${appr.getIduser()})}" class="btn btn-primary">Accéder à L'Historique</a></td>
<!--                                    <td><a th:href="@{/delete/{id}(id=${appr.getIduser()})}" class="btn btn-primary"><i class="icon-trash"></i></a></td>-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Container-fluid Ends-->
</body>
</html>