<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/fragments/main_layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Container-fluid starts-->
<div class="container-fluid" layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header m-b-20">
                    <h5>Liste des Utilisateurs</h5>
                </div>

                <div class="col-sm-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>CIN</th>
                                    <th>email</th>
                                    <th>Supprimer</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="r:${listUsers}">
                                    <td th:text="${r.iduser}"></td>
                                    <td th:text="${r.nom}"></td>
                                    <td th:text="${r.prenom}"></td>
                                    <td th:text="${r.cin}"></td>
                                    <td th:text="${r.email}"></td>
                                    <td><a th:href="@{/delete/{id}(id=${r.getIduser()})}" class="btn btn-primary"><i class="icon-trash"></i></a></td>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Container-fluid Ends-->
</body>
</html>