<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/fragments/main_layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Container-fluid starts-->
<div class="container-fluid" layout:fragment="content">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Réservation</h5>
            </div>
            <div class="card-body megaoptions-border-space-sm">
                <form class="mega-inline" th:action="@{/save-reservation}" th:object="${reservation}" method="post">
                    <input type="hidden" th:field="*{iduser}" >
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="media p-20">
                                    <div class="radio radio-primary mr-3">
                                        <input id="radio19" type="radio" name="radio1" th:field="*{idtype}" value="option1" th:value="1">
                                        <label for="radio19"></label>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="mt-0 mega-title-badge">17H-20h<span class="badge badge-primary pull-right digits">30 place</span></h6>
                                        <p>Estimated 14-20 Day Shipping ( Duties end taxes may be due upon delivery )</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                                                <div class="col-sm-6">
                                                    <div class="card">
                                                        <div class="media p-20">
                                                            <div class="radio radio-secondary mr-3">
                                                                <input id="radio20" type="radio" name="radio1" th:field="*{idtype}" value="option1" th:value="2">
                                                                <label for="radio20"></label>
                                                            </div>
                                                            <div class="media-body">
                                                                <h6 class="mt-0 mega-title-badge">Le WeekEnd<span class="badge badge-secondary pull-right digits">50 Places</span></h6>
                                                                <p>Estimated 1 Day Shipping ( Duties end taxes may be due upon delivery )</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                           <div class="card-footer text-right">
                                             <button class="btn btn-primary m-r-15" type="submit">Réservé</button>
                                                    </div>
                                                </form>
                                            </div>

        </div>
    </div>

</div>
<!-- Container-fluid Ends-->
</body>
</html>