<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head" />

<body>
<!-- Loader starts-->
<div th:replace="fragments :: loader-wrapper"/>
<!-- Loader ends-->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">

    <div th:replace="fragments :: page-main-header"/>
    <!-- Page Body Start-->
    <div class="page-body-wrapper horizontal-menu">
        <!-- Page Sidebar Start-->
        <header th:replace="fragments :: sidebar"/>

        <!-- Page Sidebar Ends-->
        <div class="page-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3>Layout Light</h3>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="../ltr/index.html">Home</a></li>
                                <li class="breadcrumb-item">Admin</li>
                            </ol>
                        </div>
                        <div class="col-lg-6">
                            <!-- Bookmark Start-->
                            <div class="bookmark pull-right">
                                <ul>
                                    <li><a href="#"><i class="bookmark-search" data-feather="star"></i></a>
                                        <form class="form-inline search-form">
                                            <div class="form-group form-control-search">
                                                <input type="text" placeholder="Search..">
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                            <!-- Bookmark Ends-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header m-b-20">
                                <h5>Ajouter Un type</h5>
                            </div>
                            <div class="card-body">
                                <form class="theme-form" th:action="@{/ajouterType}"  th:object="${type}" method="post">
                                    <div class="form-group">
                                        <label class="col-form-label pt-0">Type Nom</label>
                                        <input class="form-control" th:field="*{typenom}"  type="test"  placeholder="Enter le Nom">
                                    </div>
                                    <div class="form-group">
                                        <label>Nombre de places</label>
                                        <input class="form-control" type="number" th:field="*{nombredeplace}" placeholder="Nombre de Place">
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-primary">Ajouter</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!--     Container-fluid Ends-->
            <!--   ==========================     -->
        </div>
        <!-- footer start-->
        <footer th:replace="fragments :: footer"/>
        <!-- footer Ends-->
    </div>
</div>

<span th:replace="fragments :: js-scripts"/>


</body>
</html>