    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorator="/fragments/main_layout">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <!-- Container-fluid starts-->
    <div class="container-fluid" layout:fragment="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header m-b-20">
                        <h5>Les Réservations</h5>
                    </div>

                    <div class="col-sm-12">


                        <!--                                <select th:field="*{listTypes}">-->
                        <!--                                    <option th:each="type: ${listTypes}"-->
                        <!--                                            th:value="${type.idtype}"-->
                        <!--                                            th:text="#{${'selected.label.' + type.typenom}}"/>-->
                        <!--                                </select>-->
                        <div class="card">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID Reservation</th>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Prenom</th>
                                        <th scope="col">Date de reservation</th>
                                        <th scope="col">Accepter</th>
                                        <th scope="col">Supprimer</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="r:${listReservation}">
                                        <td th:text="${r.idreservation}"></td>
                                        <td>
                                            <p th:each="user:${listUsers}" th:if="(${user.iduser} == ${r.iduser})" th:text="${user.nom}"></p>
                                        </td>
                                        <td>
                                            <p th:each="user : ${listUsers}" th:if="(${user.iduser} == ${r.iduser})" th:text="${user.prenom}"></p>
                                        </td>

                                        <td th:text="${r.currentdate}"></td>
                                        <td><a th:href="@{/edit-reservation/{id}(id=${r.getIdreservation()})}" class="btn btn-primary" th:if="${r.status} == false" th:text="Accepter"></a></td>
                                        <td><a th:href="@{/delete-reservation/{id}(id=${r.getIdreservation()})}" class="btn btn-primary"><i class="icon-trash"></i></a></td>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Container-fluid Ends-->
    </body>
    </html>