<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/fragments/main_layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Container-fluid starts-->
<div class="container-fluid" layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header m-b-20">
                    <h5>Type de Réeservation</h5>
                </div>

                <div class="col-sm-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Type Nom</th>
                                    <th scope="col">Nombre de Places</th>
                                    <th scope="col">Modifier</th>
                                    <th scope="col">Supprimer</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="t:${listTypes}">
                                    <td th:text="${t.idtype}"></td>
                                    <td th:text="${t.typenom}"></td>
                                    <td th:text="${t.nombredeplace}"></td>
                                    <td><a th:href="@{/updateType/{id}(id=${t.getIdtype()})}" class="btn btn-primary"><i class="icon-reload"></i></i></a></td>
                                    <td><a th:href="@{/deleteType/{id}(id=${t.getIdtype()})}" class="btn btn-primary"><i class="icon-trash"></i></a></td>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Container-fluid Ends-->
</body>
</html>