<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/fragments/main_layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Container-fluid starts-->
<div class="container-fluid" layout:fragment="content">
    <form class="needs-validation" th:action="@{/ajouterType}" th:object="${type}"  method="post"  novalidate="">
        <div class="row">
            <input th:type="hidden" th:field="${type.idtype}" />
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">Nom de Type</label>
                <input class="form-control" id="validationCustom01" type="text" th:field="${type.typenom}"  placeholder="Nom" required="">
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom02">Nombre de palces</label>
                <input class="form-control" id="validationCustom02" type="number" th:field="${type.nombredeplace}"  placeholder="Nombre" required="">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Modifier</button>
    </form>
</div>

<!-- Container-fluid Ends-->
</body>
</html>